.container {
  text-align: center;
}

@media (width >= 48rem) {
  .container {
    font-size: var(--text-base);
  }
}

.links {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.link {
  border-radius: var(--rounded);
  color: rgb(var(--gray-600));
  padding: 0.5rem 0;
  text-decoration: none;
  width: 100%;
}

@media (any-hover: hover) {
  .link:hover {
    background: rgb(var(--gray-200));
    color: rgb(var(--gray-600));
  }
}

.link:active,
.link:focus-visible {
  background: rgb(var(--gray-200));
  color: rgb(var(--gray-600));
}

.link[aria-disabled="true"] {
  color: rgb(var(--gray-400));
  pointer-events: none;
}
