.container {
  border-radius: var(--rounded);
  color: rgb(var(--gray-500));
  font-size: var(--text-sm);
  padding: 0.25rem 1rem;
  text-decoration: none;

  @media (width >= 48rem) {
    font-size: var(--text-base);
  }

  @media (any-hover: hover) {
    &:hover {
      background: rgb(var(--gray-200));
      color: rgb(var(--gray-600));
    }
  }

  &:active,
  &:focus-visible {
    background: rgb(var(--gray-200));
    color: rgb(var(--gray-600));
  }
}
