.link {
  align-items: center;
  box-shadow: 0 1px currentcolor;
  display: inline-flex;
  gap: 0.125rem;
  line-height: 1.2;
}

.linkIcon {
  height: 1rem;
  width: 1rem;
}

.sectionDivider {
  margin: 4rem 0 0;
}

.backToHomeLink {
  margin: 4rem 0 0;
}
