@use "sass:color";

// Color system
$primary:  #f27242;
$light:    #f8f9fa;

$colors: (
);

$theme-colors: (
  "primary":    $primary,
  "light":      $light,
);

// Options
$enable-caret:                false;
$enable-shadow:               true;
$enable-smooth-scroll:        false;
$enable-validation-icons:     false;

// Spacing
$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
);

// Body
$body-color: #5e5e5e;

// Links
$link-decoration:                         none;
$link-hover-color:                        color.scale($primary, $lightness: -25%);

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px
);

// Components
$border-radius:               0.25rem;

// Typography
$text-muted:                  #919191;

// Navbar
$navbar-toggler-font-size:          1rem;

$navbar-light-hover-color:          $body-color;
$navbar-light-active-color:         $body-color;
$navbar-light-toggler-border-color: none;

// Pagination
$pagination-bg:                     transparent;
$pagination-border-color:           none;
$pagination-hover-bg:               color.scale($light, $lightness: -20%, $alpha: -90%);

$pagination-disabled-color:         #dee2e6;
$pagination-disabled-bg:            transparent;
