@use "sass:color";

// Color system
$primary:   #f27242;
$secondary: #919191;
$light:     #f8f9fa;

$colors: (
);

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "light":      $light,
);

// Options
$enable-caret:                false;
$enable-shadow:               true;
$enable-smooth-scroll:        false;
$enable-validation-icons:     false;

// Spacing
$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
);

// Body
$body-color: #6b7279;

// Links
$link-decoration:                         none;
$link-hover-color:                        color.scale($primary, $lightness: -25%);

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px
);

// Components
$border-radius:               0.25rem;

// Typography
$text-muted:                  #bdbdbd;

// Pagination
$pagination-padding-y:              0.5rem;
$pagination-bg:                     transparent;
$pagination-border-width:           0;
$pagination-focus-bg:               color.scale(black, $lightness: 0%, $alpha: -95%);
$pagination-focus-box-shadow:       0 0 0 0.25rem color.scale($primary, $lightness: 0%, $alpha: -75%);
$pagination-hover-bg:               transparent;
$pagination-disabled-color:         $text-muted;
$pagination-disabled-bg:            transparent;
