.badge {
  display: inline-block;
  padding: .25em .5em;
  font-size: .75em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $border-radius;

  &-light {
    color: $gray-500;
    background-color: $gray-100;

    &:hover {
      color: $gray-700;
      background-color: $gray-200;
    }
  }
}