.container {
  color: rgb(var(--gray-600));
  text-decoration: none;

  @media (any-hover: hover) {
    &:hover {
      color: rgb(var(--orange-600));
    }
  }

  &:is(:active, :focus-visible) {
    color: rgb(var(--orange-600));
  }
}

.symbol {
  color: rgb(var(--gray-600) / 75%);
  font-size: 1.25rem;
  margin: 0 0 0 0.5rem;
  vertical-align: 0.25rem;

  @media (any-hover: hover) {
    .container:hover & {
      color: rgb(var(--orange-600) / 75%);
    }
  }

  .container:is(:active, :focus-visible) & {
    color: rgb(var(--orange-600) / 75%);
  }
}
