.container {
  display: flex;
  flex-flow: row wrap;
  font-family: var(--font-mono);
  font-size: var(--text-xs);
  font-weight: 300;
  gap: 0.75rem;
}

.link {
  background: rgb(var(--gray-500));
  border-radius: var(--rounded);
  color: rgb(var(--gray-100));
  padding: 0.25rem 0.75rem;
  text-decoration: none;
}

@media (any-hover: hover) {
  .link:hover {
    background: rgb(var(--gray-400));
    color: rgb(var(--gray-100));
  }
}

.link:active,
.link:focus-visible {
  background: rgb(var(--gray-400));
  color: rgb(var(--gray-100));
}
