.container {
  background: rgb(var(--gray-100));
  box-shadow: 0 -1px 2px rgb(var(--gray-300));
  inset: auto auto 0;
  position: fixed;
  width: 100%;
}

.navigation {
  margin: 0.75rem 0;
}

@media (width >= 48rem) {
  .navigation {
    margin: 0.75rem auto;
    max-width: 48rem;
  }
}

.links {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

@media (width >= 48rem) {
  .links {
    gap: 2.25rem;
  }
}
