$pagination-bg:             transparent;
$pagination-border-color:   none;
$pagination-hover-bg:       rgba(235,235,235,0.4);
$pagination-disabled-color: $gray-300;
$pagination-disabled-bg:    transparent;
